<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab2 - Calculator</title>
  <link rel="stylesheet" href="/stylesheets/lab2-style.css">
</head>

<body>
  <h1>Lab 2 - Calculator</h1>

  <form id="calc-form" action="/lab2/calc">
    <label for="numberOne">Number 1:</label>
    <input type="number" id="numberOne" name="numberOne" required><br>

    <label for="operation">Operation</label>
    <select name="operation" id="operation">
      <option value="add">+</option>
      <option value="sub">-</option>
      <option value="mul">*</option>
      <option value="div">/</option>
    </select><br>

    <label for="num2">Number 2:</label>
    <input type="number" id="numberTwo" name="numberTwo" required><br>

    <label for="submit"></label>
    <input type="submit" value="Submit" name="submit">
  </form>

  <div id="result-box">
    <p>Result: </p>
    <div id="result"></div>
  </div>

  <script src="/js/lab2FrontCalc.js"></script>
</body>

</html>