<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 3 - Word Length Counter</title>
  <link rel="stylesheet" href="./stylesheets/lab3-style.css" </head>

<body>
  <h1>Lab 3 - Word Length Counter</h1>
  <ul>
    <ol>1. Login</ol>
    <ol>2. Upload a file to fill the textbox with the text file content, or type in your words manually</ol>
  </ul>


  <!-- Login Form -->
  <div>
    <form id="login-form">
      <label for="username">Username:</label><br>
      <input type="text" name="username" required><br>
      <label for="password">Password:</label><br>
      <input type="password" name="password" required><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <!-- Word Length Submit box -->
  <div>
    <input type="file" id="loadfile">
    <form action="/lab3/getWordLengthFrequency" id="word-form">
      <label for="textinput">Enter words:</label><br>
      <textarea id="textinput" name="textinput" rows="4"
        cols="50">O Hi this a test Car River Deer Car Bear and</textarea>
      <br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="result-container"> </div>

  <script src="/js/lab3FrontLogin.js"></script>
  <script src="/js/lab3FrontWordLengthFrequency.js"></script>
</body>

</html>